##Annotation 测试用例
测试用例 *edu.ptu.test.performace.AnotationTest*
| 用时，单位毫秒（ns） | 操作 |
| ------------- |:-------------:|
| 20378875 |  对象初始化 |
| 3925 | 获取属性值 |
| 3622 | 获取类 TYPE 的注解 |